# Don't track content of these folders:
old/
*/old/
*/under construction/
*/under_construction/
*/exclude*/
*/_old/
*/temp*/
*/JEB_Theriault_etal_2014/

# also don't track the following file types:
*.asv
*.png